<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>KDLP</title>
	</head>
	<body>
		<div class="logo">
			<img src="/assets/kdlp_logo.png" class="logo" alt="[KDLP] logo" />
			<h1 class="title" >Kernel Development Learning Pipeline</h1>
		</div>

		<hr>
		<div class="nav">
			<a class="nav" href="/index.html">Home</a>
		</div>
		<hr>
		{{ content }}
	</body>
</html>
